#hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 72px;
}

.shadow-button{
    box-shadow: 3px 3px;
}
#pie-holder{
    border-radius: 50px;
}